body {
    /*background-color: darkslateblue;*/
    font-family: 'PT Sans', sans-serif;
    min-height: 740px;
    color: black;
    line-height: 1;
    background: rgb(215, 215, 215);
    background: radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    font-weight: bold;
    font-style: italic
}

#title h1 {
    font-size: 180px;
}

.MIS {
    font-size:36px
}

.step {
    /*text-align: center;*/
    position: relative;
    width: 900px;
    padding: 40px;
    margin: 20px auto;
    box-sizing: border-box;
    font-family: 'PT Serif', georgia, serif;
    font-size: 48px;
    line-height: 1.5;
}

